
@import "base.styl"
@import "article.styl"

body
    background-color: #F4F2E9

a.weibo-icon
  color: #E8796F
  &:hover
    color: #CA3E31

a.facebook-icon
  color: #3C7DB5
  &:hover
    color: #2A679C

a.github-icon
  color: #686868
  &:hover
    color: #313131
